.header {
    background: url(../images/bg.jpg) no-repeat center center fixed;
}
.angular1 {
    background: url(../images/74H.jpg) no-repeat center center fixed;
}


.callout.t1 {
    background: url(../images/39H.jpg) no-repeat center center fixed;
}
.callout.t2 {
    background: url(../images/78H.jpg) no-repeat center center fixed;
}