
<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <img src="images/logo.png" alt="Logo" class="logo_size" />
        <h1>0.soribt.com</h1>
        <h3>
            JS. Angular. PHP. Zend. Real-World Applications.
        </h3>
    </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="about" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="headliner">Whats this about?</h2>
                <p class="lead">We think there is potential to improve significantly how people program!</p>
                <p>
                    We are a small team of programmers from Austria,
                    working for companies around the world. Our experience is expressed
                    in this article-style blog. In every article something cool will be created.
                    The mix will always be between JS and PHP,
                    mostly some sort of the <a href="http://framework.zend.com" target="_blank">Zend Framework</a>
                    will be used and probably based on that some <a href="https://angularjs.org/" target="_blank">
                    Angular-App</a> will be created for the Frontend.
                </p>
                <p>
                    We will look into several things:
                    <ul>
                <li>
                    Authentication and Authorization
                </li>

                <li>
                    Rest Interfaces
                </li>
                <li>
                    Extended CMS Functions.
                </li>
                    </ul>
                Our aim is to show the full workflow and show how we work. We do not necessarily say that this is 100% correct, nor do we force someone to do the same. Instead we would be incredibly happy
                if there would be a discussion around the things and we would be happy to answer all questions. And now a not matching quote, because quotes are cool.
                </p>


                <blockquote style="margin: 60px 0;">
                    <p>
                        It's really kind of cool to have solar panels on your roof.</p>
                    <small>Bill Gates</small>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- /Intro -->

<!-- Callout -->
<div class="callout">
    <div class="vert-text">
        <h1>Real World Examples that Rock!</h1>
    </div>
</div>
<!-- /Callout -->

<!-- Portfolio -->
<div id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="headliner">Whats next?</h2>
                <p class="lead">We are getting our stuff together...</p>
                <p>
                    We are right now working on a tutorial about the roleplay between a RESTful Interface between Angular and ZF 1.12. We are new to
                    things like Yeoman, Bower and Grunt, have no idea about anything but want to automate as much as possible. This is where we are going to start.

                </p>
                <p>If you are in the same position, get you keyboard ready, it's going to be a long night!</p>
                <p>

                    <small class="text-muted">Code example: how we made the button on the end of the page scrolling to the top.
                        seen here: <a href="http://stackoverflow.com/questions/17284005/scrollto-function-in-angularjs" target="_blank">Source</a>
                    </small>
                    <hljs include="'examples/scrollOnClick.js'" />
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /Portfolio -->

